/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background: url(../img/body-bg.gif);
   /* background: linear-gradient( 0deg, rgb(0 100 255 / 74%), transparent);*/
    color: white !important;
}

/*------------Background------------*/

.background1
{
    background: url(../img/dark-blue.jpg)
}

label, td, th, table {
    color: white !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/********** Search (in Home) **********/

.search-minus-85 {
    top:-85px !important;
}

.search-btn-icon {
    position: absolute !important;
    top: 55px;
    left: 5em;
    font-size: 1.2em;
    background-color: transparent;
}

.search-button {
    position: absolute !important;
    top: 45px;
    right: 6em;
    padding-left: 4em;
    padding-right: 4em;
}

.search-box-style {
    height: 50px;
    padding-left: 1.5em;
    background-color: #e1dede;
    padding-left: 3.5em;
    padding-right: 11em;
}

.search-main {
    position: relative;
    padding-left: 5em !important;
    padding-right: 5em !important;
}

.banner {
    background-image: url(../img/vNiAIL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%;
    width: 100% !important;
    padding-top: 5%;
    position: relative;
}

.banner-text-style-1 {
    color: #f8f9fac9;
    text-transform: uppercase;
    font-size: 50px;
    padding-left: 1%;
    font-weight: 700;
    font-family: cursive;
}

.banner-text-style-2 {
    color: #f8f9fac9;
    text-transform: lowercase;
    font-size: 35px;
    padding-left: 3%;
    /*margin-top: 1%;*/
    font-family: 'Berlin Sans FB';
}

.quote-text-quote {
    color: white;
    padding-left: 5%;
    font-size: 22px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 1%;
    text-align: justify;
}

.quote-text-actor {
    color: white;
    padding-left: 5%;
    font-size: 19px;
    font-family: Papyrus;
    margin-top: 1%;
}

.quote-text-tags {
    color: #878787;
    padding-left: 5%;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1%;
}

/*********** BOOK ***********/
.btn-add-new-custom {
    float: right !important;
}

a:not([href]):not([tabindex]).btn-add-new-custom {
    color: white !important;
}

.width-150px {
    width:150px;
}

a:not([href]):not([tabindex]).btn-add-new-custom {
    color: white !important;
}

.btn-custom-upload{
    background-color:red;
    color:white;
}

/*********** SEARCH ***********/
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.error {
    color: crimson !important;
    text-align: center !important;
    width: 100% !important;
    border-color: crimson !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*********** FOOTER ***********/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
